<template>
  <section>
  	<b-container>
      <b-row>
        <b-col cols="12">
  		    <h1>Забор крови</h1>
        </b-col>
      </b-row>
      <b-row>
        <error-board :errors="errors" @clearerrors="clearErrors"></error-board>
      </b-row>
      <b-row class="mdlContent">
        <b-col md="6">
          <div class="card">
            <h5 class="card-header"><b>Донор: </b><span v-if="person.firstName">{{fullName}}</span></h5>
            <div class="card-body">
              <p v-if="person.bloodType"><b>Группа крови:</b> {{person.bloodType.typeName}}</p>
              <p v-if="person.sex"><b>Пол:</b> {{person.sex == 'male' ? 'мужской' : 'женский'}}</p>
              <p v-if="person.address"><b>Адрес:</b> {{person.address}}</p>
              <p v-if="person.phone"><b>Телефон:</b> {{person.phone}}</p>
              <p v-if="person.mobile"><b>Мобильный:</b> {{person.mobile}}</p>
              <p v-if="person.passport"><b>Удостоверение:</b> {{person.passport}}</p>
              <p v-if="person.fin"><b>FIN:</b> {{person.fin}}</p>
              <p v-if="person.mobile"><b>Мобильный:</b> {{person.mobile}}</p>
              <p v-if="person.description"><b>Доп. информация:</b> {{person.description}}</p>
              <p v-if="person.donor"><b>Донор</b></p>
              <p v-if="person.recipient"><b>Реципиент</b></p>

              <b-btn variant="success" v-b-modal.donModal>Выбрать донора</b-btn>
              <!-- Modal Component -->
              <b-modal ref="donModal" id="donModal" title="Выбор донора" ok-only ok-title="Отменить">
                <person-window @selectperson="setDonor" :mode="'personselect'"></person-window>
              </b-modal>
            </div>
          </div>
        </b-col>
        <b-col md="6">
          <b-form action="/api/person/add" method="POST">
            <b-form-group horizontal label="Материал" :label-cols="3" breakpoints="md" label-for="source">
              <b-form-select id="source" value-field="_id" text-field="sourceName" :options="sources" name="source" v-model="source"></b-form-select>
            </b-form-group>
            <b-form-group horizontal label="Количество" :label-cols="3" breakpoints="md" label-for="volume">
              <b-form-input type="text" class="form-control" id="volume" name="volume" v-model="volume"></b-form-input>
            </b-form-group>
            <b-form-group horizontal label="Дата" :label-cols="3" breakpoints="md" label-for="date">
              <b-form-input type="text" class="form-control" id="date" name="date" v-model="date"></b-form-input>
            </b-form-group>
            <b-form-group horizontal label="Время" :label-cols="3" breakpoints="md" label-for="time">
              <b-form-input type="text" class="form-control" id="time" name="date" v-model="time"></b-form-input>
            </b-form-group>
            <b-form-group horizontal label="Доп. информация" :label-cols="3" breakpoints="md" label-for="description">
              <b-form-textarea class="form-control" id="description" name="description" rows="3" v-model="description"></b-form-textarea>
            </b-form-group>
          </b-form>
        </b-col>
        <b-col sm="12">
    			<button type="button" @click="addDraw" class="btn btn-primary">Произвести забор</button>
        </b-col>
  		</b-row>
  	</b-container>
  </section>
</template>

<script>
import PersonService from '@/services/PersonService'
import SourceService from '@/services/SourceService'
import DrawService from '@/services/DrawService'
import Person from '@/components/Persons'

export default {
  name: 'DrawAdd',
  data () {
    return {
    	volume: null,
    	source: null,
    	description: '',
      date: this.$tools.formatDate(new Date()),
      time: this.$tools.formatTime(new Date()),
    	person: {},
    	bloodTypes: [],
    	sources: [],
      errors: []
   }
  },
  components:{
    'person-window' : Person 
  },
  computed: {
    fullName(){
      return this.$tools.smartJoin([this.person.firstName, this.person.lastName, this.person.middleName]);
    }
  },
  methods: {
  	async addDraw() {
      if(!this.volume || !this.source || !this.person._id || 
        !this.person.bloodType._id || !this.date){
        return this.errors.push({message: "Заполните правильно все обязательные поля"});
      }
      try{
        const response = await DrawService.addDraw({
          volume: this.volume,
          source: this.source,
          person: this.person._id,
          bloodType: this.person.bloodType._id,
          date: this.date + ' ' + this.time,
          description: this.description
        });
        if(undefined !== response.data.success && !response.data.success){
          if(response.data.errors){
            response.data.errors.forEach((item, i, arr)=>{
              this.errors.push(item);
            });
          }
        }
        else{
          this.$router.push({name: 'DrawShow', params: {id: response.data.data._id}});
        }
      } catch(err){
        if(!err.response){
          return this.errors.push({message: "Отсутствует соединение с сервером"});
        }
        this.errors.push({message: err.response.data.errors});        
      }
    },
    async getPerson() {
      const response = await PersonService.getPerson({ id: this.$route.params.id});
      if(response.data.success !== false){
      	this.person = response.data.data;
      }
    },
  	async getSources(){
  		const response = await SourceService.fetchSources();
      	if(response.data.success !== false){
      		this.sources = response.data.data;
      	}
  	},
    setDonor(person){
      this.person = person;
      this.$refs.donModal.hide();
    },
    clearErrors(){
      this.errors = [];
    }
  },
  created: async function() {
  	await this.getSources();
  	this.getPerson();
  }
}
</script>
<style scoped>
h1{
  background: url(../assets/draw-make_64x64.png) no-repeat;
}
</style>