<template>
  <section>
    <b-container> 
      <b-row>
        <b-col cols="12" v-if="mode !== 'donordraws'">
          <h1 class="mb-4">Заборы крови</h1>
        </b-col>      
      </b-row> 
      <b-row class="mdlContent">
        <h2 class="mb-4 col-md-12" v-if="mode === 'donordraws'">Заборы крови</h2>
        <b-col cols="12">
          <b-form inline @submit.prevent="searchDraw">
            <label class="sr-only" for="person">Имя или фамилия</label>
            <b-input class="mb-2 mr-sm-2 mb-sm-0" v-if="mode !== 'donordraws'" v-model="searchObject.person" id="person" name="person" placeHolder="имя" />
            <label class="sr-only" for="date">Дата</label>
            <b-input class="mb-2 mr-sm-2 mb-sm-0" type="date" v-model="searchObject.date" id="date" name="date"  />
            <label class="sr-only" for="bloodType">Группа крови</label>
            <b-form-select class="mb-2 mr-sm-2 mb-sm-0" id="bloodType" value-field="_id" text-field="typeName" :options="bloodTypes" name="bloodType" v-model="searchObject.bloodType"></b-form-select>
            <b-form-select class="mb-2 mr-sm-2 mb-sm-0" id="source" value-field="_id" text-field="sourceName" :options="sources" name="source" v-model="searchObject.source"></b-form-select>
            <b-button type="submit" variant="primary">Найти</b-button>
          </b-form>
          <b-table 
            striped 
            stacked="md" 
            small 
            hover 
            no-provider-paging 
            no-provider-sorting 
            no-provider-filtering 
            no-local-sorting
            @sort-changed="sortingChanged"
            :items="draws" 
            :fields="fields"
            class="mt-4">
            <template slot="index" v-bind:offset="searchObject.offset" slot-scope="data">
              {{data.value + 1}}
            </template>
            <template slot="source" slot-scope="data">
              {{data.value.sourceName}} ({{data.value.measure}})
            </template>
            <template slot="bloodType" slot-scope="data">
              {{data.value.typeName}}
            </template>
            <template slot="person" slot-scope="data">
              {{data.value.fullName}}
            </template>
            <template slot="actions" slot-scope="row">
              <div v-if="mode !== 'drawselect'" class="icon-link">
                <b-link class="draw-info" router-tag="div" v-bind:to="{ name: 'DrawShow', params: {id: row.item._id }}" title="просмотреть забор"></b-link>
              </div>
              <div v-if="mode !== 'drawselect'" class="icon-link">
                <b-link class="trans-add" router-tag="div" v-bind:to="{ name: 'TransAdd', params: {id: row.item._id }}" title="сделать переливание"></b-link>
              </div>
              <b-btn v-if="mode==='drawselect'" @click="selectDraw(row.item)" size="sm">выбрать</b-btn>
            </template>        
      		</b-table>
          <b-row>
            <b-col cols="12">
              <b-pagination :total-rows="searchObject.totalCount" @change ="goToPage" v-model="currentPage" :per-page="searchObject.pageSize"></b-pagination>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>    
  </section>
</template>

<script>
import DrawService from '@/services/DrawService'
import BloodTypeService from '@/services/BloodTypeService'
import SourceService from '@/services/SourceService'

export default {
  name: 'Persons',
  data () {
    return {
      fields: [
          { key: 'index', label: "#"},
          { key: 'date', label: 'Дата', sortable: true},
          { key: 'source', label: 'Материал'},
          { key: 'volume', label: 'Объем'},
          { key: 'remainder', label: 'Остаток'},
          { key: 'bloodType', label: 'Группа крови'},
          { key: 'person', label: 'Донор'},
          { key: 'actions', label: 'Action'}
        ],
      currentPage: 1,
    	draws: [],
      bloodTypes: [],
    	sources: [],
      searchObject: {
        bloodType: null,
        person: '',
        source: null,
        date: null,
        pageSize: 10,
        totalCount: 0,
        offset: 0,
        personId: null,
        sortObj: {
          date: true
        }
      }
    }
  },
  props: ['mode'],
  methods: {
    async getDraws() {
      const response = await DrawService.fetchDraws(this.searchObject);
      if(response.data.success){
        this.draws = response.data.data.map((draw, index) => {
            draw.person.fullName = this.$tools.smartJoin([
              draw.person.firstName, draw.person.lastName
            ]);
            draw.index = index + this.searchObject.offset;
            return draw;
        });
        this.searchObject.totalCount = response.data.totalCount;
      }
    },
    async getBloodTypes(){
      const response = await BloodTypeService.fetchBloodTypes();
      if(response.data.success){
        this.bloodTypes = response.data.data;
        this.bloodTypes.push({ 
          _id: null, 
          typeName: 'Все группы крови'
        });
      }
    },
    async getSources(){
      const response = await SourceService.fetchSources();
      if(response.data.success){
        this.sources = response.data.data;
        this.sources.push({ 
          _id: null, 
          sourceName: 'Все материалы'
        });
      }
    },
    selectDraw(person){
      this.$emit('selectdraw', person);
    },
    async searchDraw(){
      this.searchObject.offset = 0;
      await this.getDraws();
      this.currentPage = Math.ceil(this.searchObject.offset / this.searchObject.pageSize);
    },
    goToPage(pageNumber){
      this.searchObject.offset = (pageNumber - 1) * this.searchObject.pageSize;
      this.getDraws();
    },
    sortingChanged(ctx){
      this.searchObject.sortObj[ctx.sortBy] = ctx.sortDesc;
      this.getDraws();
    }
  },
  created: function() {
    if(this.mode === 'donordraws')
      this.searchObject.personId = this.$route.params.id;
    this.getDraws();
    this.getSources();
  	this.getBloodTypes();
  }
}
</script>
<style scoped>
h1{
  background: url(../assets/draws_64x64.png) no-repeat;
}
.draw-info{
  background: url(../assets/draw-info_32x32.png) no-repeat;
}
.trans-add{
  background: url(../assets/trans-add_32x32.png) no-repeat;
}

</style>