<template>
  <section>
    <b-container>
      <b-row>
        <b-col cols="12">
          <h1>Информация о заборе</h1>
        </b-col>
      </b-row>
      <b-row class="mdlContent">
        <b-col cols="12">
          <div class="card">
            <h5 class="card-header"><b>Группа крови: </b><span v-if="draw.bloodType">{{draw.bloodType.typeName}}</span></h5>
            <div class="card-body">
              <p v-if="draw.source"><b>Материал:</b> {{draw.source.sourceName}} ({{draw.source.measure}})</p>
              <p v-if="draw.volume"><b>Объем:</b> {{draw.volume}} {{draw.source.measure}}</p>
              <p v-if="draw.remainder"><b>Остаток:</b> {{draw.remainder}} {{draw.source.measure}}</p>
              <p v-if="draw.date"><b>Дата:</b> {{draw.date}}</p>
              <p v-if="draw.person"><b>Донор:</b> <b-link href="#" v-bind:to="{name: 'PersonShow', params: {id: draw.person._id}}">{{draw.person.firstName}} {{draw.person.lastName}}</b-link></p>
              <p v-if="draw.description"><b>Доп.информация:</b> {{draw.description}}</p>
              <b-button v-bind:to="{ name: 'TransAdd', params: {id: draw._id }}" variant="warning">Сделать переливание</b-button>
              <b-button v-bind:to="{ name: 'Draws' }" variant="danger">Список заборов</b-button>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>    
  </section>
</template>

<script>
import DrawService from '@/services/DrawService'
/*id: person._id*/
export default {
  name: 'DrawShow',
  data () {
    return {
      draw: {}
    }
  },
  methods: {
    async getDraw() {
      const response = await DrawService.getDraw({ id: this.$route.params.id });

      if(response.data.success !== false){
        this.draw = response.data.data;
      }
    }
  },
  created: function() {
  },
  mounted () {
    this.getDraw()
  },
}
</script>
<style scoped>
h1{
  background: url(../assets/draw-info_64x64.png) no-repeat;
}
</style>

