<template>
	<b-col cols="12">
		<b-alert dismissible @dismissed="closeBoard" :show="errors.length !== 0" variant="danger">
			<b-col cols="10">
				<h5>Errors: </h5>
				<p v-for="error of errors">
					{{error.message}}
				</p>							
			</b-col>
		</b-alert>
	</b-col>
</template>

<script>
export default {
  name: 'ErrorBoard',
  data () {
    return {
    }
  },
  props: ['errors'],
  methods: {
  	closeBoard(){
  		this.$emit('clearerrors');
  	}
  }
}
</script>
