<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="imageCont">
            <img src="../assets/transfusion_bg.png" alt="Распродажа">
          </div>
        </div>
        <div class="col-md-6">
          <div class="hello">
            <h1>{{ msg }}</h1>
          </div>          
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Добро пожаловать в Blood Transfusion DataBase'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
  padding: 0 0 0 10px;
}
.hello{
  margin-top: 50px;
}
img { width: 100% }
.imgCont{ text-align: center; }
</style>
