<template>
	<section>
		<div class="container">
			<b-row>
				<b-col cols="12">
					<h1>Редактирование персоны</h1>
					<error-board :errors="errors" @clearerrors="clearErrors"></error-board>
					<b-form @submit.prevent="addPerson" method="POST">
						<b-row>
							<b-col cols="6">
								<b-form-group horizontal label="Имя" :label-cols="3" breakpoints="md" label-for="firstName">
									<b-form-input type="text" aria-describedby="firstNameLiveFeedback" :state="firstName.length > 1" id="firstName" name="firstName" v-model="firstName"></b-form-input>
									<b-form-invalid-feedback id="firstNameLiveFeedback">
								      Введите не меньше 2 букв
		    						</b-form-invalid-feedback>
								</b-form-group>
								<b-form-group horizontal label="Фамилия" :label-cols="3" breakpoints="md" label-for="lastName">
									<b-form-input type="text" id="lastName" name="lastName" v-model="lastName"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Отчество" :label-cols="3" breakpoints="md" label-for="middleName">
									<b-form-input type="text" class="form-control" id="middleName" name="middleName" v-model="middleName"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Удостовение личности" :label-cols="6" breakpoints="md" label-for="passport">
									<b-form-input type="text" id="passport" name="passport" v-model="passport"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="FIN-код" :label-cols="3" breakpoints="md" label-for="fin">
									<b-form-input type="text" id="fin" name="fin" :state="fin.length == 7" :formatter="(value)=>{return value.toUpperCase()}" aria-describedby="finLiveFeedback" v-model="fin"></b-form-input>
									<b-form-invalid-feedback id="finLiveFeedback">
								      FIN содержит 7 символов
		    						</b-form-invalid-feedback>
								</b-form-group>
								<b-form-group horizontal label="Адрес" :label-cols="3" breakpoints="md" label-for="address">
									<b-form-input type="text" id="address" name="address" v-model="address"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col cols="6">
								<b-form-group horizontal label="Телефон" :label-cols="3" breakpoints="md" label-for="phone">
									<b-form-input type="text" id="phone" name="phone" v-model="phone"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Моб. телефон" :label-cols="3" breakpoints="md" label-for="mobile">
									<b-form-input type="text" id="mobile" name="mobile" v-model="mobile"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Группа крови" :label-cols="3" breakpoints="md" label-for="bloodType">
									<b-form-select id="bloodType" value-field="_id" text-field="typeName" :options="bloodTypes" name="bloodType" v-model="bloodType"></b-form-select>
								</b-form-group>
								<b-form-group horizontal label="Пол" :label-cols="3" breakpoints="md" label-for="sex">
									<b-form-select id="sex" name="sex" v-model="sex">
										<option selected value="male">мужской</option>
										<option value="female">женский</option>
									</b-form-select>
								</b-form-group>
								<b-form-group horizontal label="Доп. информация" :label-cols="4" breakpoints="md" label-for="description">
									<b-form-textarea id="description" name="description" rows="4" v-model="description"></b-form-textarea>
								</b-form-group>
							</b-col>
							<b-col cols="6">
								<b-btn type="submit" variant="primary">Создать</b-btn>
							</b-col>
						</b-row>
					</b-form>
				</b-col>
			</b-row>
		</div>		
	</section>
</template>

<script>
import PersonService from '@/services/PersonService'
import BloodTypeService from '@/services/BloodTypeService'

export default {
  name: 'PersonEdit',
  data () {
    return {
    	person: {},
		bloodTypes: [],
		errors: []
    }
  },
  methods: {
    async updatePerson() {
      await PersonService.updatePerson({
      	id: this.person._id,
    	firstName: this.person.firstName,
    	lastName: this.person.lastName,
    	middleName: this.person.middleName,
    	passport: this.person.passport,
		fin: this.person.fin,
		address: this.person.address,
		phone: this.person.phone,
		mobile: this.person.mobile,
		sex: this.person.sex,
		bloodType: this.person.bloodType,
		description: this.person.description
      });
      alert('Person updated');
    },
    async getPerson() {
      const response = await PersonService.getPerson({ id: this.$route.params.id});
      this.person = response.data.data;
    },
  	async getBloodTypes(){
  		const response = await BloodTypeService.fetchBloodTypes();
      	this.bloodTypes = response.data.data;
  	},
  	clearErrors(){
  		this.errors = [];
  	}
  },
  created: function() {
  	this.getBloodTypes();
  },
  mounted: function(){
  	this.getPerson();
  }
}
</script>
