<template>
  <section>
    <b-container>
      <b-row>
        <b-col cols="12">
          <h1>{{title}}</h1>
        </b-col>
      </b-row>
      <b-row class="mdlContent">
        <b-col cols="12">
            <div class="card">
              <h5 class="card-header"><span v-if="person.firstName">{{person.firstName}} {{person.lastName}}, {{person.middleName}}</span></h5>
              <div class="card-body">
                <p v-if="person.bloodType"><b>Группа крови:</b> {{person.bloodType.typeName}}</p>
                <p v-if="person.sex"><b>Пол:</b> {{person.sex == 'male' ? 'мужской' : 'женский'}}</p>
                <p v-if="person.address"><b>Адрес:</b> {{person.address}}</p>
                <p v-if="person.phone"><b>Телефон:</b> {{person.phone}}</p>
                <p v-if="person.mobile"><b>Мобильный:</b> {{person.mobile}}</p>
                <p v-if="person.email"><b>E-mail:</b> <a :href="`mailto:${person.email}`">{{person.email}}</a></p>
                <p v-if="person.passport"><b>Удостоверение:</b> {{person.passport}}</p>
                <p v-if="person.fin"><b>FIN:</b> {{person.fin}}</p>
                <p v-if="person.description"><b>Доп. информация:</b> {{person.description}}</p>
                <p v-if="person.donor"><b>Донор</b></p>
                <p v-if="person.recipient"><b>Реципиент</b></p>
                <b-button class="col-sm-3" v-bind:to="{ name: 'DrawAdd', params: {id: person._id }}" variant="danger">Забор</b-button>
                <b-button class="col-sm-4" v-bind:to="{ name: 'PersonAdd' }" variant="success">Новая персона</b-button>
                <b-button class="col-sm-3" v-bind:to="{ name: 'Persons' }" variant="primary">Персоны</b-button>
              </div>
            </div>
        </b-col>
      </b-row>
    </b-container>

        <router-view></router-view>

  </section>
</template>

<script>
import PersonService from '@/services/PersonService'
/*id: person._id*/
export default {
  name: 'PersonShow',
  data () {
    return {
      person: {}
    }
  },
  props: ['mode'],
  computed: {
    title(){
      console.log(this.mode);
      let title;
      switch(this.mode){
        case 'donor':
          title = 'Донор';
          break;
        case 'recipient':
          title = 'Реципиент';
          break;
        default:
          title = 'Персона';
      }
      return title;
    }
  },
  methods: {
    async getPerson() {
      const response = await PersonService.getPerson({ id: this.$route.params.id });

      if(response.data.success !== false){
        this.person = response.data.data;
      }
    }
  },
  created: function() {
    console.log("PersonShow mode:", this.mode);
  },
  mounted () {
    this.getPerson()
  },
}
</script>
<style scoped>
h1{
  background: url(../assets/person-info_64x64.png) no-repeat;
}
</style>