<template>
	<section>
		<b-container>
			<b-row>
				<b-col cols="12">
					<h1>Добавление персоны</h1>
				</b-col>
			</b-row>
			<b-row>
				<error-board :errors="errors" @clearerrors="clearErrors"></error-board>
			</b-row>
			<b-row class="mdlContent">
				<b-col cols="12">
					<b-form @submit.prevent="addPerson" method="POST">
						<b-row>
							<b-col md="6">
								<b-form-group horizontal label="Имя" :label-cols="3" breakpoints="md" label-for="firstName">
									<b-form-input type="text" aria-describedby="firstNameLiveFeedback" :state="firstName.length > 1" id="firstName" name="firstName" v-model="firstName"></b-form-input>
									<b-form-invalid-feedback id="firstNameLiveFeedback">
										Введите не меньше 2 букв
									</b-form-invalid-feedback>
								</b-form-group>
								<b-form-group horizontal label="Фамилия" :label-cols="3" breakpoints="md" label-for="lastName">
									<b-form-input type="text" id="lastName" name="lastName" v-model="lastName"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Отчество" :label-cols="3" breakpoints="md" label-for="middleName">
									<b-form-input type="text" class="form-control" id="middleName" name="middleName" v-model="middleName"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Пол" :label-cols="3" breakpoints="md" label-for="sex">
									<b-form-select id="sex" name="sex" v-model="sex">
										<option selected value="male">мужской</option>
										<option value="female">женский</option>
									</b-form-select>
								</b-form-group>
								<b-form-group horizontal label="Удостовение личности" :label-cols="6" breakpoints="md" label-for="passport">
									<b-form-input type="text" id="passport" name="passport" v-model="passport"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="FIN-код" :label-cols="3" breakpoints="md" label-for="fin">
									<b-form-input type="text" id="fin" name="fin" :state="fin.length == 7" :formatter="(value)=>{return value.toUpperCase()}" aria-describedby="finLiveFeedback" v-model="fin"></b-form-input>
									<b-form-invalid-feedback id="finLiveFeedback">
								      FIN содержит 7 символов
									</b-form-invalid-feedback>
								</b-form-group>
								<b-form-group horizontal label="Адрес" :label-cols="3" breakpoints="md" label-for="address">
									<b-form-input type="text" id="address" name="address" v-model="address"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="6">
								<b-form-group horizontal label="Телефон" :label-cols="3" breakpoints="md" label-for="phone">
									<b-form-input type="text" id="phone" name="phone" v-model="phone"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Моб. телефон" :label-cols="3" breakpoints="md" label-for="mobile">
									<b-form-input type="text" id="mobile" name="mobile" v-model="mobile"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="E-mail" :label-cols="3" breakpoints="md" label-for="mobile">
									<b-form-input type="text" id="email" name="email" v-model="email"></b-form-input>
								</b-form-group>
								<b-form-group horizontal label="Группа крови" :label-cols="3" breakpoints="md" label-for="bloodType">
									<b-form-select id="bloodType" value-field="_id" text-field="typeName" :options="bloodTypes" name="bloodType" v-model="bloodType"></b-form-select>
								</b-form-group>
								<b-form-group>
									<b-form-checkbox id="donor"
				                     v-model="donor" name="donor">
								      Донор
								    </b-form-checkbox>
								</b-form-group>
								<b-form-group horizontal label="Доп. информация" :label-cols="4" breakpoints="md" label-for="description">
									<b-form-textarea id="description" name="description" rows="4" v-model="description"></b-form-textarea>
								</b-form-group>
							</b-col>
							<div class="clearfix"></div>
							<b-col cols="3" class="btnPanel">
								<b-btn type="submit" size="lg" variant="primary">Создать</b-btn>
							</b-col>
						</b-row>
					</b-form>
				</b-col>
			</b-row>
		</b-container>		
	</section>
</template>

<script>
import PersonService from '@/services/PersonService'
import BloodTypeService from '@/services/BloodTypeService'
import ErrorBoard from '@/components/ErrorBoard'

export default {
  name: 'PersonAdd',
  data () {
    return {
    	firstName: '',
    	lastName: '',
    	middleName: '',
    	passport: '',
		fin: '',
		address: '',
		phone: '',
		mobile: '',
		email: '',
		donor: null,
		sex: 'male',
		bloodType: 1,
		description: '',
		bloodTypes: [],
		errors: []
    }
  },
  methods: {
    async addPerson() {
      if(!this.fin || !this.firstName || !this.sex || 
      	!this.bloodType || this.fin.length != 7){
      	return this.errors.push({message: "Заполните правильно все обязательные поля"});
      }
      try{
	      const response = await PersonService.addPerson({
	    	firstName: this.firstName,
	    	lastName: this.lastName,
	    	middleName: this.middleName,
	    	passport: this.passport,
			fin: this.fin,
			address: this.address,
			phone: this.phone,
			mobile: this.mobile,
			email: this.email,
			donor: this.donor,
			sex: this.sex,
			bloodType: this.bloodType,
			description: this.description
	      })
	      if(undefined !== response.data.success && !response.data.success){
	      	if(response.data.errors){
	      		response.data.errors.forEach((item, i, arr)=>{
	      			this.errors.push(item);
	      		});
	      	}
	      }
	      else{
	      	this.$router.push({name: 'PersonShow', params: {id: response.data.data._id}});
	      }
      }
      catch(err){
      	if(!err.response){
      		return this.errors.push({message: "Отсутствует соединение с сервером"});
      	}
      	this.errors.push({message: err.response.data.errors});
      }
    },
  	async getBloodTypes(){
  		const response = await BloodTypeService.fetchBloodTypes();
      	this.bloodTypes = response.data.data;
  	},
  	clearErrors(){
  		this.errors = [];
  	}
  },
  created: function() {
  	this.getBloodTypes();
  }
}
</script>
<style scoped>
	h1{
	  background: url(../assets/id-card_64x64.png) no-repeat;
	  padding: 0 0 18px 72px;
	}
</style>