<template>
  <section>
    <b-container>
      <b-row>
        <b-col cols="12">
      	  <h1 v-bind:class="classObject">
            <span v-if="title">{{title}}</span>
            <span v-else>Персоны</span>
          </h1>      
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mdlContent" cols="12">
  	  		<b-form inline @submit.prevent="searchPerson">
  	  			<label class="sr-only" for="name">Имя или фамилия</label>
  	      	<b-input class="mb-2 mr-sm-2 mb-sm-2" v-model="searchObject.name" id="name" name="name" placeHolder="имя" />
  	  			<label class="sr-only" for="fin">FIN</label>
  	      	<b-input class="mb-2 mr-sm-2 mb-sm-2" v-model="searchObject.fin" id="fin" name="fin"  placeHolder="FIN"/>
            <label class="sr-only" for="bloodType">Группа крови</label>
            <b-form-select class="mb-2 mr-sm-2 mb-sm-2" id="bloodType" value-field="_id" text-field="typeName" :options="bloodTypes" name="bloodType" v-model="searchObject.bloodType"></b-form-select>
  	  			<label class="sr-only" for="sex">Пол</label>
    				<b-form-select class="mb-2 mr-sm-2 mb-sm-2" id="sex" :options="sex" name="sex" v-model="searchObject.sex"></b-form-select>
  	      	<b-button type="submit" class="mb-2 mr-sm-2 mb-sm-2" variant="primary">Найти</b-button>
  	  		</b-form>
          <b-table 
          	striped small hover no-provider-paging no-provider-sorting no-provider-filtering 
            no-local-sorting
            stacked="md"
            @sort-changed="sortingChanged"
          	:items="persons" 
          	:fields="fields"
            class="mt-4">
            <template slot="index" v-bind:offset="searchObject.offset" slot-scope="data">
            	{{data.value + 1}}
            </template>
            <template slot="bloodType" slot-scope="data">
              {{data.value.typeName}}
            </template>
            <template slot="donor" slot-scope="row">
              {{row.item.donor}} / {{row.item.recipient}}
            </template>
            <template slot="actions" slot-scope="row">
              <b-form-checkbox style="float: left;" @click.native.stop @change="row.toggleDetails" v-model="row.detailsShowing">Инфо</b-form-checkbox>
              
              <div v-if="mode !== 'personselect'" class="icon-link">
                <b-link class="person-info" router-tag="div" v-bind:to="linkForInfo(row.item._id)" title="просмотреть"></b-link>
              </div>
              
              <div v-if="mode !== 'personselect'" class="icon-link">
                <b-link class="draw-make" router-tag="div" v-bind:to="{ name: 'DrawAdd', params: {id: row.item._id }}" title="забор"></b-link>
              </div>
              <div v-if="mode==='personselect'" class="icon-link">
                <div class="select" @click.prevent="selectPerson(row.item)" title="выбрать персону"></div>
              </div>
            </template>
            <template slot="row-details" slot-scope="row">
              <b-card>
                <b-row class="mb-2" v-if="row.item.sex">
                  <b-col sm="4" class="text-sm-right"><b>Пол:</b></b-col>
                  <b-col>{{ row.item.sex == 'male' ? 'мужской' : 'женский' }}</b-col>
                </b-row>
                <b-row class="mb-2" v-if="row.item.donor || row.item.recipient">
                  <b-col sm="4" class="text-sm-right"><b>Статус:</b></b-col>
                  <b-col><span v-if="row.item.donor">донор </span><span v-if="row.item.recipient"><span v-if="row.item.donor">| </span>реципиент </span></b-col>
                </b-row>
                <b-row class="mb-2" v-if="row.item.phone">
                  <b-col sm="4" class="text-sm-right"><b>Телефон:</b></b-col>
                  <b-col>{{ row.item.phone }}</b-col>
                </b-row>
                <b-row class="mb-2" v-if="row.item.mobile">
                  <b-col sm="4" class="text-sm-right"><b>Мобильный:</b></b-col>
                  <b-col>{{ row.item.mobile }}</b-col>
                </b-row>
                <b-row class="mb-2" v-if="row.item.email">
                  <b-col sm="4" class="text-sm-right"><b>Email:</b></b-col>
                  <b-col><a :href="`mailto:${row.item.email}`">{{row.item.email}}</a></b-col>
                </b-row>
                <b-row class="mb-2" v-if="row.item.address">
                  <b-col sm="4" class="text-sm-right"><b>Адрес:</b></b-col>
                  <b-col>{{ row.item.address }}</b-col>
                </b-row>
                <b-row class="mb-2" v-if="row.item.description">
                  <b-col sm="4" class="text-sm-right"><b>Доп. информация:</b></b-col>
                  <b-col>{{ row.item.description }}</b-col>
                </b-row>
                <b-button size="sm" @click="row.toggleDetails">Скрыть</b-button>
              </b-card>
            </template>        
          </b-table>
          <b-row>
          	<b-col cols="12">
          		<b-pagination :total-rows="searchObject.totalCount" @change ="goToPage" v-model="currentPage" :per-page="searchObject.pageSize"></b-pagination>
          	</b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import PersonService from '@/services/PersonService'
import BloodTypeService from '@/services/BloodTypeService'
/*id: person._id*/
export default {
  name: 'Persons',
  data () {
    return {
      sex: [
        { value: null, text: 'Любого пола' },
        { value: 'male', text: 'мужчины' },
        { value: 'female', text: 'женщины' }
      ],
    	currentPage: 1,
    	persons: [],
    	bloodTypes: [],
    	searchObject: {
    		name: '',
    		fin: '',
        sex: null,
    		bloodType: null,
    		pageSize: 10,
    		totalCount: 0,
        donor: this.isDonor(),
        recipient: this.isRecipient(),
    		offset: 0,
        sortObj: {}
    	}
    }
  },
  props: ['mode', 'pageTitle'],
  computed: {
    fields(){
      var fields = [
        { key: 'index', label: "#"},
        { key: 'fullName', label: 'Имя', sortable: true},
      ];
      if(this.mode !== 'personselect'){
        fields.push({ key: 'bloodType', label: 'Группа крови' });
        fields.push({ key: 'fin', label: 'FIN' });
      }
      fields.push({ key: 'actions', label: 'Action'});
      return fields;
    },
    title(){
      return this.pageTitle || 'Персоны';
    },
    classObject(){
      let cssClass;
      switch(this.mode){
        case 'donor':
          cssClass = 'donor';
          break;
        case 'recipient':
          cssClass = 'recipient';
          break;
        default:
          cssClass = 'person';
      }
      return cssClass;
    }
  },
  methods: {
    async getPersons() {
      this.searchObject.donor = this.isDonor();
      this.searchObject.recipient = this.isRecipient();
      const response = await PersonService.fetchPersons(this.searchObject);
      if(response.data.success){
        this.persons = response.data.data.map((person, index, persons) => {
          person.fullName = this.$tools.smartJoin([person.firstName, person.lastName, person.middleName]);
          person.index = index + this.searchObject.offset;
          return person;
        });
        this.searchObject.totalCount = response.data.totalCount;
      }
    },
    async getBloodTypes(){
      const response = await BloodTypeService.fetchBloodTypes();
      if(response.data.success){
        this.bloodTypes = response.data.data;
        this.bloodTypes.push({ 
    			_id: null, 
    			typeName: 'Все группы крови'
    		});
      }
  	},
    selectPerson(person){
      this.$emit('selectperson', person);
    },
    goToPage(pageNumber){
    	this.searchObject.offset = (pageNumber - 1) * this.searchObject.pageSize;
    	this.getPersons();
    },
    async searchPerson(){
    	this.searchObject.offset = 0;
    	await this.getPersons();
		  this.currentPage = Math.ceil(this.searchObject.offset / this.searchObject.pageSize);
    },
    sortingChanged(ctx){
      this.searchObject.sortObj[ctx.sortBy] = ctx.sortDesc;
      this.getPersons();
    },
    isDonor(){
      return this.mode === 'donor' ? true : null;
    },
    isRecipient(){
      return this.mode === 'recipient' ? true : null;
    },
    linkForInfo(id){
      if(this.mode === 'donor'){
        return `/donor/show/${id}`;
      }
      if(this.mode === 'recipient'){
        return `/recipient/show/${id}`;
      }
      return `/person/show/${id}`;;
    }
  },
  created() {
    this.getPersons();
    this.getBloodTypes();
  },
  mounted () {
  }
}
</script>
<style scoped>
.person{
  background: url(../assets/person-info_64x64.png) no-repeat;
}
.donor{
  background: url(../assets/donor_64x64.png) no-repeat;
}
.recipient{
  background: url(../assets/recipient_64x64.png) no-repeat;
}
.draw-make{
  background: url(../assets/draw-make_32x32.png) no-repeat;
}
.person-info{
  background: url(../assets/person-info_32x32.png) no-repeat;
}
.select{
  background: url(../assets/select_32x32.png) no-repeat;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px; /* or 950px */
}
.table{
  stacked: true;
}
</style>

