<template>
  <section>
    <b-container>
      <b-row>
        <b-col cols="12">
          <h1>Информация о переливании</h1>
        </b-col>
      </b-row>
      <b-row class="mdlContent">
        <b-col cols="12">
          <b-card no-body>
            <h5 slot="header"><b>Реципиент: </b><b-link href="#" v-bind:to="{name: 'PersonShow', params: {id: trans.recipient._id}}">{{trans.recipient.firstName}} {{trans.recipient.lastName}}</b-link></h5>
            <b-card-body>
              <p v-if="trans.source"><b>Материал:</b> {{trans.source.sourceName}} ({{trans.source.measure}})</p>
              <p v-if="trans.recipient"><b>Группа крови: </b>{{trans.recipient.bloodType.typeName}}</p>
              <p v-if="trans.volume"><b>Объем:</b> {{trans.volume}} {{trans.source.measure}}</p>
              <p v-if="trans.date"><b>Дата переливания:</b> {{trans.date}}</p>
              <p v-if="trans.description"><b>Доп.информация:</b> {{trans.description}}</p>
                <b-list-group>
                  <b-list-group-item variant="success"><h5>Заборы:</h5></b-list-group-item>
                  <b-list-group-item v-for="item in trans.draws">
                    <div>
                      <p><b>Группа крови:</b> {{item.draw.bloodType.typeName}}</p>
                      <p><b>Дата:</b> <b-link href="#" v-bind:to="{name: 'DrawShow', params: {id:item.draw._id}}">{{item.draw.date}}</b-link></p>
                      <p><b>Перелито:</b> {{item.transVolume}} {{item.draw.source.measure}}</p>
                      <p><b>Донор:</b> <b-link href="#" v-bind:to="{name: 'PersonShow', params: {id: item.draw.person._id}}">{{item.draw.person.firstName}} {{item.draw.person.lastName}}</b-link></p>
                    </div>
                  </b-list-group-item>
                </b-list-group>
              <b-button v-bind:to="{ name: 'TransAdd', params: {id: trans._id }}" variant="primary">Сделать новое переливание</b-button>
              <b-button v-bind:to="{ name: 'Trans' }" variant="primary">Список переливаний</b-button>
            </b-card-body>
          </b-card> 
        </b-col>
      </b-row>
    </b-container>    
  </section>
</template>

<script>
import TransService from '@/services/TransService'
/*id: person._id*/
export default {
  name: 'TransShow',
  data () {
    return {
      trans: {}
    }
  },
  methods: {
    async getTrans() {
      const response = await TransService.getTrans({ id: this.$route.params.id });

      if(response.data.success !== false){
        this.trans = response.data.data;
      }
    }
  },
  created: function() {
  },
  mounted () {
    this.getTrans()
  },
}
</script>
<style scoped>
h1{
  background: url(../assets/trans-info_64x64.png) no-repeat;
}
</style>