<template>
  <section>
    <b-container>
      <b-row>
        <b-col cols="12" v-if="mode !== 'recipienttrans'">
          <h1 class="mb-4">Переливания крови</h1>
        </b-col>      
      </b-row> 
      <b-row class="mdlContent">
        <h2 class="mb-4 col-md-12" v-if="mode === 'recipienttrans'">Переливания крови</h2>
        <b-col cols="12">
          <b-form inline @submit.prevent="searchTrans">
            <label class="sr-only" for="person">Имя или фамилия</label>
            <b-input v-if="mode !== 'recipienttrans'" class="mb-2 mr-sm-2 mb-sm-0" v-model="searchObject.person" id="person" name="person" placeHolder="имя" />
            <label class="sr-only" for="date">Дата</label>
            <b-input class="mb-2 mr-sm-2 mb-sm-0" type="date" v-model="searchObject.date" id="date" name="date"  />
            <label class="sr-only" for="bloodType">Группа крови</label>
            <b-form-select class="mb-2 mr-sm-2 mb-sm-0" id="bloodType" value-field="_id" text-field="typeName" :options="bloodTypes" name="bloodType" v-model="searchObject.bloodType"></b-form-select>
            <b-form-select class="mb-2 mr-sm-2 mb-sm-0" id="source" value-field="_id" text-field="sourceName" :options="sources" name="source" v-model="searchObject.source"></b-form-select>
            <b-button type="submit" variant="primary">Найти</b-button>
          </b-form>
          <b-table 
          striped 
          stacked="md" 
          small 
          hover 
          no-provider-paging 
          no-provider-sorting 
          no-provider-filtering 
          no-local-sorting
          @sort-changed="sortingChanged"
          :items="trans" 
          :fields="fields"
          class="mt-4">
            <template slot="index" v-bind:offset="searchObject.offset" slot-scope="data">
              {{data.value + 1}}
            </template>
            <template slot="source" slot-scope="data">
              {{data.value.sourceName}} ({{data.value.measure}})
            </template>
            <template slot="recipient" slot-scope="data">
              {{data.value.fullName}}
            </template>
            <template slot="bloodType" slot-scope="row">
              {{row.item.recipient.bloodType.typeName}}
            </template>
            <template slot="actions" slot-scope="row">
              <div v-if="mode !== 'personselect'" class="icon-link">
                <b-link class="trans-info" router-tag="div" v-bind:to="{ name: 'TransShow', params: {id: row.item._id }}" title="просмотреть переливание"></b-link>
              </div>
            </template>        
        	</b-table>
          <b-row>
            <b-col cols="12">
              <b-pagination :total-rows="searchObject.totalCount" @change ="goToPage" v-model="currentPage" :per-page="searchObject.pageSize"></b-pagination>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import TransService from '@/services/TransService'
import BloodTypeService from '@/services/BloodTypeService'
import SourceService from '@/services/SourceService'

export default {
  name: 'Persons',
  data () {
    return {
      fields: [
          { key: 'index', label: "#"},
          { key: 'date', label: 'Дата', sortable: true},
          { key: 'recipient', label: 'Реципиент' },
          { key: 'bloodType', label: 'Группа крови' },
          { key: 'source', label: 'Материал'},
          { key: 'volume', label: 'Объем' },
          { key: 'actions', label: 'Action'}
        ],
      currentPage: 1,
    	trans: [],
      bloodTypes: [],
      sources: [],
      searchObject: {
        bloodType: null,
        person: '',
        personId: null,
        source: null,
        date: null,
        pageSize: 10,
        totalCount: 0,
        offset: 0,
        sortObj: {
          date: true
        }
      }      
    }
  },
  props: ['mode'],
  methods: {
    async getTrans() {
      const response = await TransService.fetchTrans(this.searchObject);
      if(response.data.success){
       this.trans = response.data.data.map((tran, index) => {
          tran.recipient.fullName = this.$tools.smartJoin([
            tran.recipient.firstName, tran.recipient.lastName, tran.recipient.middleName
          ]);
          tran.index = index + this.searchObject.offset;
          return tran;
        });
        this.searchObject.totalCount = response.data.totalCount;
     }
    },
    async getBloodTypes(){
      const response = await BloodTypeService.fetchBloodTypes();
      if(response.data.success){
        this.bloodTypes = response.data.data;
        this.bloodTypes.push({ 
          _id: null, 
          typeName: 'Все группы крови'
        });
      }
    },
    async getSources(){
      const response = await SourceService.fetchSources();
      if(response.data.success){
        this.sources = response.data.data;
        this.sources.push({ 
          _id: null, 
          sourceName: 'Все материалы'
        });
      }
    },
    async searchTrans(){
      this.searchObject.offset = 0;
      await this.getTrans();
      this.currentPage = Math.ceil(this.searchObject.offset / this.searchObject.pageSize);
    },
    goToPage(pageNumber){
      this.searchObject.offset = (pageNumber - 1) * this.searchObject.pageSize;
      this.getTrans();
    },
    sortingChanged(ctx){
      this.searchObject.sortObj[ctx.sortBy] = ctx.sortDesc;
      this.getTrans();
    }
  },
  created: function() {
    if(this.mode === 'recipienttrans')
      this.searchObject.personId = this.$route.params.id;
    this.getTrans()
    this.getSources();
  	this.getBloodTypes();
  }
}
</script>
<style scoped>
h1{
  background: url(../assets/trans_64x64.png) no-repeat;
}
.trans-info{
  background: url(../assets/trans-info_32x32.png) no-repeat;
}
</style>
