<template>
  <section>
    <b-container>
      <b-row>
        <b-col cols="12">
          <h1>Сделать переливание</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <error-board :errors="errors" @clearerrors="clearErrors"></error-board>
        </b-col>
      </b-row>
      <b-row class="mdlContent">
        <b-col md="6" sm="12">
          <div class="card mb-4">
            <h5 class="card-header"><b>Реципиент: </b><span v-if="recipient.fullName">{{recipient.fullName}}</span></h5>
            <div class="card-body">
              <p v-if="recipient.bloodType"><b>Группа крови: </b>{{recipient.bloodType.typeName}}</p>
              <b-btn variant="success" v-b-modal.recModal>Выбрать реципиента</b-btn>
              <!-- Modal Component -->
              <b-modal ref="recModal" id="recModal" title="Выбор реципиента" ok-only ok-title="Отменить">
                <person-window @selectperson="setRecipient" :mode="'personselect'"></person-window>
              </b-modal>
            </div>
          </div>
          <b-form class="mb-4" @submit.prevent="addTrans" method="POST">
            <b-form-group horizontal label="Дата" :label-cols="3" breakpoints="md" label-for="date">
              <b-form-input type="text" class="form-control" id="date" name="date" v-model="date"></b-form-input>
            </b-form-group>
            <b-form-group horizontal label="Время" :label-cols="3" breakpoints="md" label-for="time">
              <b-form-input type="text" class="form-control" id="time" name="date" v-model="time"></b-form-input>
            </b-form-group>
            <b-form-group horizontal label="Доп. информация" :label-cols="3" breakpoints="md" label-for="description">
              <b-form-textarea class="form-control" id="description" name="description" rows="6" v-model="description"></b-form-textarea>
            </b-form-group>
            <b-col cols="6">
              <b-btn type="submit" variant="primary">Произвести переливание</b-btn>
            </b-col>
          </b-form>
        </b-col>
        <b-col md="6" sm="12" class="mb-4">
          <div class="card">
            <h5 class="card-header"><b>Заборы</b></h5>
            <div class="card-body">
              <b-list-group>
                <b-list-group-item v-for="draw in draws">
                  <p><b>Материал:</b> {{draw.source.sourceName}}</p>
                  <p><b>Группа крови: </b>{{draw.bloodType.typeName}}</p>
                  <p><b>Дата забора: </b>{{draw.date}}</p>
                  <p><b>Исходный объем: </b>{{draw.volume}} {{draw.source.measure}}</p>
                  <p><b>Объем остатка: </b>{{draw.remainder}} {{draw.source.measure}}</p>
                  <p><b>Донор: </b>{{draw.person.firstName}} {{draw.person.lastName}}</p>
                  <b-form-group horizontal label="Количество" :label-cols="4" breakpoints="md" :label-for="draw._id">
                    <b-form-input type="text" class="form-control" :id="draw._id" name="transVolume" v-model="draw.transVolume"></b-form-input>
                  </b-form-group>
                  <div><b-btn size="sm" variant="danger" @click="removeDraw(draw)">Удалить</b-btn></div>
                </b-list-group-item>
              </b-list-group>
              <b-btn variant="danger" v-b-modal.drawModal>Выбрать забор</b-btn>
              <!-- Modal Component -->
              <b-modal ref="drawModal" id="drawModal" size="lg" title="Выбор забора" ok-only ok-title="Отменить">
                <draw-window @selectdraw="addDraw" :mode="'drawselect'"></draw-window>
              </b-modal>
            </div>
          </div>
        </b-col>
  		</b-row>
  	</b-container>    
  </section>
</template>

<script>
import BloodTypeService from '@/services/BloodTypeService'
import SourceService from '@/services/SourceService'
import DrawService from '@/services/DrawService'
import TransService from '@/services/TransService'
import Persons from '@/components/Persons'
import Draws from '@/components/Draws'

export default {
  name: 'DrawAdd',
  data () {
    return {
    	volume: null,
    	description: '',
      date: this.$tools.formatDate(new Date()),
      time: this.$tools.formatTime(new Date()),
      recipient: {},
    	draws: [],
      errors: []
    }
  },
  components:{
    'person-window' : Persons, 
    'draw-window' : Draws 
  },
  methods: {
  	async addTrans() {
      const source = this.draws[0].source._id;
      if(!this.draws.every(draw => {
        return source === draw.source._id
      })){
        return this.errors.push({message: "Вы используете разные материалы для переливания"});
      }
      if(!this.draws.length || !this.recipient._id ||  !this.date || !this.time){
        return this.errors.push({message: "Заполните правильно все обязательные поля"});
      }
      try{
        const response = await TransService.addTrans({
          volume: this.volume,
          source: this.draws[0].source._id,
          recipient: this.recipient._id,
          draws: this.draws,
          date: this.date + ' ' + this.time,
      		description: this.description
        });

        if(undefined !== response.data.success && !response.data.success){
          if(response.data.errors){
            response.data.errors.forEach((item, i, arr)=>{
              this.errors.push(item);
            });
          }
        }
        else{
          this.$router.push({name: 'TransShow', params: {id: response.data.data._id}});
        }
      } catch(err){
        if(!err.response){
          return this.errors.push({message: "Отсутствует соединение с сервером"});
        }
        this.errors.push({message: err.response.data.errors});
      }
    },
    async getDraw(id) {
      const response = await DrawService.getDraw({ id: id});
      if(response.data.success !== false){
      	this.addDraw(response.data.data);
      }
    },
    setRecipient(person){
      this.recipient = person;
      this.$refs.recModal.hide();
    },
    addDraw(draw){
      this.draws.push(Object.assign({}, draw, {transVolume: draw.remainder}));
      this.$refs.drawModal.hide();
    },
    removeDraw(draw){
      let i = this.draws.indexOf(draw);
      if(i != -1){
        this.draws.splice(i, 1);
      }
    },
    clearErrors(){
      this.errors = [];
    }
  },
  created: function() {
    if(this.$route.params.id){
      this.getDraw(this.$route.params.id);
    }
  }
}
</script>
<style scoped>
h1{
  background: url(../assets/trans-add_64x64.png) no-repeat;
}
</style>