<template>
  <div>
    <b-navbar type="dark" variant="info" toggleable="md">
      <div class="container">
        <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#" v-bind:to="{name: 'HelloWorld'}">BloodTrans</b-navbar-brand>
        <b-collapse is-nav id="nav_dropdown_collapse">
          <b-navbar-nav>
            <b-nav-item-dropdown text="Персоны">
              <b-dropdown-item v-bind:to="{name: 'Persons'}" href="#" exact>Персоны</b-dropdown-item>
              <b-dropdown-item v-bind:to="{path: '/donor'}" href="#" exact>Доноры</b-dropdown-item>
              <b-dropdown-item v-bind:to="{path: '/recipient'}" href="#" exact>Реципиенты</b-dropdown-item>
              <b-dropdown-item v-bind:to="{name: 'PersonAdd'}" exact>Добавить персону</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown text="Заборы крови">
              <b-dropdown-item v-bind:to="{name: 'Draws'}" exact>Список заборов</b-dropdown-item>
              <b-dropdown-item v-bind:to="{name: 'DrawAdd'}" exact>Произвести забор</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown text="Переливания">
              <b-dropdown-item v-bind:to="{name: 'Trans'}" exact>Список переливаний</b-dropdown-item>
              <b-dropdown-item v-bind:to="{name: 'TransAdd'}" exact>Сделать переливание</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>

          <b-navbar-nav class="ml-auto">
            <b-nav-item right @click="logout">Выйти</b-nav-item>
          </b-navbar-nav>
        </b-collapse>        
      </div>
    </b-navbar>

    <section id="app">
      <router-view :key="$route.path"/>
    </section>

  </div>
</template>

<script>
export default {
  name: 'App',
  methods:{
    logout(){
      window.location = window.location.origin + "/signout";
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .mdlContent .card/*[class*="col-"]*/ {
      margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .mdlContent .form-row [class*="col-"] {
      margin-bottom: 0px;
  }
}
h1{
  padding: 0 0 18px 72px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px; /* or 950px */
}
.card-body p{
  margin-bottom: .3em;
}
.card-body button, .card-body.btn, .card-body.btn-primary{
  margin-top: 1em;
}
.navbar-brand{
  font-size: 24px;
  font-weight: bold;
}
.nav-item{
  font-size: 17px;
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.icon-link {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.icon-link div{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.btnPanel, .mdlContent{
  margin-top: 30px;
}
</style>
